<div class="bettyLeague-title-lg" translate="{{::listMatchCtrl.bettyLeague.name}}"></div>

<div class="list-match-view">
    <ion-content delegate-handle="btContentHandle" class="bt-content step">
        <table class="bt-modal__table bt-modal__table--list bt-text u-gutter-bottom-small">
            <tr ng-repeat-start="showdown in listMatchCtrl.showdowns" ng-if="listMatchCtrl.showdowns[$index - 1].bettyRound.roundNb !== showdown.bettyRound.roundNb">
                <td colspan="5" class="bettyLeague-title-lg bettyLeague-title--grey">
                    <span ng-if="listMatchCtrl.bettyLeague.endless && listMatchCtrl.showdowns[$index - 1].bettyRound.seasonNb !== showdown.bettyRound.seasonNb">
                        <span translate="RANKING.full_season"></span> {{showdown.bettyRound.seasonNb}} -
                    </span>
                    <span ng-if="listMatchCtrl.bettyLeague.endless && listMatchCtrl.showdowns[$index - 1].bettyRound.halfSeasonNb !== showdown.bettyRound.halfSeasonNb">
                        <span translate="RANKING.half_season"></span> {{showdown.bettyRound.halfSeasonNb}} -
                    </span>
                    <span ng-if="listMatchCtrl.bettyLeague.endless && listMatchCtrl.showdowns[$index - 1].bettyRound.fourRoundsNb !== showdown.bettyRound.fourRoundsNb">
                        <span translate="RANKING.for_rounds"></span> {{showdown.bettyRound.fourRoundsNb}} -
                    </span>
                    <span>
                        <span translate="RANKING.round"></span> {{showdown.bettyRound.roundNb}}
                    </span>
                </td>
            </tr>
            <tr class="u-pointer" id="{{::showdown.id}}" ng-class="listMatchCtrl.classRow(showdown)" hm-tap="listMatchCtrl.toggleTooltip(showdown, true)">
                <td>
                    {{::showdown.smFixture.sm__time__startingAt__dateTime| date : 'longDate'}}

                     <span ng-class="listMatchCtrl.extendedStatus(showdown)"  class="bt-text-medium showdown-score">
                        <span ng-if="listMatchCtrl.getShowdownStatus(showdown) === 'OPEN'">
                            {{showdown.smFixture.sm__time__startingAt__dateTime| date : 'shortTime'}}
                        </span>
                        <span ng-if="listMatchCtrl.getShowdownStatus(showdown) === 'CLOSED'">
                            {{showdown.smFixture.sm__scores__localteamScore}} - {{showdown.smFixture.sm__scores__visitorteamScore}}
                        </span>
                        <span ng-if="listMatchCtrl.getShowdownStatus(showdown) === 'LOCKED'">
                            {{showdown.smFixture.sm__scores__localteamScore}} - {{showdown.smFixture.sm__scores__visitorteamScore}}
                        </span>
                            <span ng-if="listMatchCtrl.getShowdownStatus(showdown) === 'REPORTE'">
                            {{showdown.smFixture.sm__scores__localteamScore}} - {{showdown.smFixture.sm__scores__visitorteamScore}}
                        </span>
                    </span>
                </td>
                <td>
                    {{::showdown.smFixture.smSeason.smLeague.sm__name}}
                </td>
                <td>
                    {{::showdown.smFixture.homeTeam.sm__name}}
                    <span class="u-inline-block">
                        <bt-logo-team bt-size="20" bt-team="::showdown.smFixture.homeTeam"></bt-logo-team>
                    </span>
                </td>
                <td>
                    {{::showdown.smFixture.awayTeam.sm__name}}
                    <span class="u-inline-block">
                        <bt-logo-team bt-size="20" bt-team="::showdown.smFixture.awayTeam"></bt-logo-team>
                    </span>
                </td>
                <td>
                    <div ng-if="listMatchCtrl.betCol(showdown)" class="bt-text-medium showdown-score showdown-score--gold" ng-bind-html="listMatchCtrl.betCol(showdown)">
                    </div>

                    <div class="bt-text-md-bold u-text-gold" ng-if="listMatchCtrl.betResume(showdown).potentiel && listMatchCtrl.betResume(showdown).gain">
                        + {{listMatchCtrl.betResume(showdown).gain}} ?
                    </div>
                    <div class="bt-text-md-bold u-text-green" ng-if="!listMatchCtrl.betResume(showdown).potentiel && listMatchCtrl.betResume(showdown).gain">
                        + {{listMatchCtrl.betResume(showdown).gain}}
                    </div>
                    <div class="bt-text-md-bold u-text-red" ng-if="!listMatchCtrl.betResume(showdown).potentiel && listMatchCtrl.betResume(showdown).gain === 0">
                        + 0
                    </div>
                </td>
            </tr>
            <tr ng-repeat-end class="bt-tooltip-row u-pointer" ng-class="listMatchCtrl.classRow(showdown)" ng-show="listMatchCtrl.openedTooltip == showdown.id">
                <td colspan="5" class="bt-tooltip-col">
                    <div class="bt-tooltip">
                        <!--<div class="u-pull-left">-->
                            <!--<bt-body-btn bt-ico="'fas fa-times'"-->
                                         <!--bt-btn-classes="'bt-action__btn&#45;&#45;body-small bt-action__btn&#45;&#45;red'"-->
                                         <!--bt-action="listMatchCtrl.toggleTooltip(showdown, false)"-->
                                         <!--bt-content="'SHOWDOWN.BET_SUMMARY.CLOSE'"-->
                            <!--&gt;-->
                            <!--</bt-body-btn>-->
                        <!--</div>-->


                        <div ng-if="listMatchCtrl.initialRange" class="u-pull-right">
                            <bt-body-btn bt-ico="'fas fa-caret-right'"
                                         bt-btn-classes="'bt-action__btn--body-square bt-action__btn--body-small bt-action__btn--green'"
                                         bt-action="listMatchCtrl.goShowdown(showdown)"
                            >
                            </bt-body-btn>
                        </div>

                        <div ng-if="listMatchCtrl.betCol(showdown)" class="u-pull-left u-gutter-right-small">
                            <bt-body-btn bt-ico="'fas fa-info'"
                                         bt-btn-classes="'bt-action__btn--body-small bt-action__btn--blue'"
                                         bt-action="listMatchCtrl.openOddDetail(showdown)"
                                         bt-content="'SHOWDOWN.BET_SUMMARY.DETAIL'"
                            >
                            </bt-body-btn>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </ion-content>
</div>