<!--//FOOTER/HEADER-->
<div class="bt-goal-radio row row-center">
    <div class="bt-goal-radio__col col u-text-center" ng-repeat="button in $ctrl.buttons">
        <button hm-tap="$ctrl.minus()" class="bt-action__btn bt-goal-radio__button" type="button" ng-if="button == '-'">
            <div class="bt-action__facade">
                <i class="bt-action__ico fas fa-minus" ></i>
            </div>
        </button>

        <div ng-if="(button !== '-' && button !== '+')">
            <input class="bt-goal-radio__radio"
                   type="radio"
                   ng-model="$ctrl.btModel"
                   ng-value="button"
                   name="radio"
            >
            <button hm-tap="$ctrl.select(button)" class="bt-action__btn bt-action__btn--gold bt-goal-radio__button bt-goal-radio__button--radio" type="button">
                <div class="bt-action__facade">
                    <i class="bt-action__ico">{{button}}</i>
                </div>
            </button>
        </div>



        <button hm-tap="$ctrl.plus()" class="bt-action__btn bt-goal-radio__button" type="button" ng-if="button == '+'">
            <div class="bt-action__facade">
                <i class="bt-action__ico fas fa-plus" ></i>
            </div>
        </button>
    </div>
</div>

