<!--//FOOTER/HEADER-->
<div class="u-center-content">
    <button hm-tap="$ctrl.btActionTimed()"
            class="bt-action__btn bt-action__btn--body"
            ng-class="$ctrl.btBtnClasses"
            ng-form="$ctrl.btSubmitForm"
            type="{{$ctrl.btType}}"
            ng-disabled="$ctrl.btDisabled">
        <div class="bt-action__facade">
            <span class="bt-action__content" translate="{{$ctrl.btContent}}"></span>
            <i ng-if="$ctrl.icoResult !== 'coin-coin'" class="bt-action__ico {{$ctrl.icoResult}}" ></i>
            <img ng-if="$ctrl.icoResult === 'coin-coin'" class="bt-coin" src="img/betty-coin_75x75.png">
        </div>
    </button>
</div>


