.bt-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
}
.bt-modal.ng-leave {
  animation: fadeOut 400ms;
}
.bt-modal.ng-enter {
  animation: fadeIn 400ms;
}
.bt-modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 210;
}
.bt-modal__block {
  z-index: 220;
  position: absolute;
  background-color: #c2c2c2;
  top: 1rem;
  right: 0.5rem;
  bottom: 1rem;
  left: 0.5rem;
}
.bt-modal__body {
  overflow-y: auto;
  background-color: #e6e6e6;
  position: absolute;
  top: 2rem;
  right: 1rem;
  bottom: 1.5rem;
  left: 1rem;
  padding: 4rem 0.5rem 1.5rem 0.5rem;
}
.bt-modal__close-btn {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}
.bt-modal__table {
  table-layout: fixed;
  width: 100%;
}
.bt-modal__table tr {
  border: 1px solid #0583d0;
  border-bottom: none;
}
.bt-modal__table tr:last-child {
  border-bottom: 1px solid #0583d0;
}
.bt-modal__table tr.spanUp {
  border-top: none;
}
.bt-modal__table th,
.bt-modal__table td {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  text-align: center;
  vertical-align: middle;
}
.bt-modal__table th {
  background-color: #0583d0;
  color: #e6e6e6;
}
.bt-modal__table--list {
  background-color: #e6e6e6;
}
.bt-modal__table--list tr {
  border: none;
}
.bt-modal__table--list tr:not(:first-child) {
  border-top: 1px solid #a1a1a1;
}
.bt-modal__table--list tr:last-child {
  border-bottom: none;
}
.bt-modal__table--list tr.active {
  background-color: #c2c2c2;
}
.bt-modal__table--list tr.active.bt-tooltip-row {
  border-top: none;
}
.bt-modal__table--list .showdown-score {
  line-height: normal;
  padding: 0.5rem;
}
