.u-gutter-bottom-micro {
  margin-bottom: 0.5rem !important;
}
.u-gutter-bottom-small {
  margin-bottom: 1rem !important;
}
.u-gutter-bottom-regular {
  margin-bottom: 1.5rem !important;
}
.u-gutter-bottom-big {
  margin-bottom: 2rem !important;
}
.u-gutter-left-micro {
  margin-left: 0.5rem !important;
}
.u-gutter-left-small {
  margin-left: 1rem !important;
}
.u-gutter-left-regular {
  margin-left: 1.5rem !important;
}
.u-gutter-left-big {
  margin-left: 2rem !important;
}
.u-gutter-right-micro {
  margin-right: 0.5rem !important;
}
.u-gutter-right-small {
  margin-right: 1rem !important;
}
.u-gutter-right-regular {
  margin-right: 1.5rem !important;
}
.u-gutter-right-big {
  margin-right: 2rem !important;
}
.u-center-content {
  text-align: center!important;
  width: 100%!important;
}
.u-clearfix {
  clear: both;
}
.u-pull-left {
  float: left;
}
.u-pull-right {
  float: right;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}
.u-margin-auto .u-inline-block {
  display: inline-block;
  vertical-align: middle;
}
.u-nowrap {
  white-space: nowrap;
}
.u-text-blue {
  color: #0583d0;
}
.u-text-black {
  color: #222222;
}
.u-text-gold {
  color: #b6850f;
}
.u-text-red {
  color: #fa393c;
}
.u-text-green {
  color: #2BB289;
}
.u-text-uppercase {
  text-transform: uppercase;
}
.u-underline {
  text-decoration: underline;
}
.u-padding-micro {
  padding: 0.5rem;
}
.u-pointer {
  cursor: pointer;
}
.u-relative {
  position: relative;
}
