.bettyLeague-title {
  background-color: #0791e0;
  color: #e6e6e6;
  font-family: "poppinsbold", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bettyLeague-title--gold {
  background-color: #fdcf21;
  color: #83600b;
}
.bettyLeague-title-lg {
  background-color: #0791e0;
  color: #e6e6e6;
  font-family: "poppinsbold", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-transform: uppercase;
}
.bettyLeague-title--wrap {
  white-space: normal;
}
.bettyLeague-title--grey {
  background-color: #a1a1a1;
}
.bettyLeague-title--red {
  background-color: #fa393c;
}
.bettyLeague-header {
  background-color: #0791e0;
  padding: 0 1rem 0.5rem 1rem;
  position: relative;
  z-index: 1;
}
.bettyLeague-header .col:first-child {
  padding-right: 0.5rem;
}
.bettyLeague-header .col:last-child {
  padding-left: 0.5rem;
}
