.bt-loading-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.bt-loading-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  opacity: 0.2;
}
.bt-loading-back--phantom {
  opacity: 0.5;
}
.bt-loading {
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt-logoload {
  text-align: center;
}
.bt-logoload__img {
  height: 8rem;
}
.bt-logoload__label {
  height: 8rem;
  text-shadow: 1px 0 0 #222222, -1px 0 0 #222222, 0 1px 0 #222222, 0 -1px 0 #222222, 1px 1px #222222, -1px -1px 0 #222222, 1px -1px 0 #222222, -1px 1px 0 #222222;
  color: #e6e6e6;
}
.bt-loading-container.nocon .bt-loading {
  color: #bc2e33;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.bt-loading-container.nocon .bt-loading .ico {
  text-align: center;
  font-size: 50px;
  width: 100%;
  display: block;
}
.bt-loading-container.nocon .bt-loading .txt {
  text-align: center;
  width: 100%;
  display: block;
}
