.bt-alert-messages {
  border-top: 1px solid #289172;
  text-align: center;
  background-color: #e6e6e6;
  max-height: 0px;
  transition: max-height 600ms ease-in-out;
  font-size: 1.2rem;
  font-family: "poppinsregular", sans-serif;
  text-transform: uppercase;
  line-height: 1.3!important;
}
.bt-alert-messages.expanded-add {
  max-height: 0px;
}
.bt-alert-messages.expanded {
  max-height: 50rem;
}
.bt-alert-messages .bt-message {
  color: #222222;
}
.bt-alert-messages .bt-message.alert {
  color: #892225;
}
.bt-alert-messages .bt-message.success {
  color: #267450;
}
.bt-ng-message-list {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.bt-ng-message {
  background-color: #892225;
  color: #e6e6e6;
  height: 100%;
  line-height: 4.5rem;
  text-align: center;
}
.bt-ng-message:not(:first-child) {
  display: none;
}
