@import "../../less/constant";

.ranking-dashboard {
  tr {
    border: none!important;
  }
}

.ranking-dashboard__tab {
  padding: @margin-micro!important;
  height: 5rem;
  &.active {
    background-color: @light-gold;
  }

  //display: inline-block;
  //vertical-align: middle;
  //width: 25%;
  //background-color: @white;
}

.ranking-dashboard__description {
  padding: @margin-small!important;
  background-color: @light-gold;
  height: 6rem;
}

.bt-modal__table-pagination {

}

.bt-modal__table-pagination-btn {
  cursor: pointer;
  color: @light-blue;
  font-weight: 400;
  width: 100%;
  display: block;
}

.bt-modal__table-pagination-current {
  font-weight: 700;
}
