.bt-input-text-component.btUsername input[name=btUsername],
.bt-input-text-component.btEmail input[name=btEmail],
.bt-input-text-component.btPlainPassword input[name=btPlainPassword],
.bt-input-text-component.btConfirmPassword input[name=btConfirmPassword],
.bt-input-text-component.btPassword input[name=btPassword],
.bt-input-text-component.btPseudo input[name=btPseudo] {
  border: 0.1rem solid #fa393c;
}
.bt-input-text-container {
  position: relative;
  text-align: center;
}
.bt-input-text-container .bt-input-text {
  border-radius: 0.5rem;
  margin: auto;
  width: 100%;
  max-width: 30rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  height: 5rem;
  font-family: "poppinsregular", sans-serif;
  background-color: #e6e6e6;
  transition: border 150ms ease-in-out;
  color: #222222;
  border: none;
}
.bt-input-text-container .bt-input-text:focus,
.bt-input-text-container .bt-input-text:active {
  border: 1px solid #222222;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #222222 !important;
  opacity: 0.8;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #222222 !important;
  opacity: 0.8;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #222222 !important;
  opacity: 0.8;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222222 !important;
  opacity: 0.8;
}
