<!--//FOOTER/HEADER-->
<div ng-if="$ctrl.btShow && $ctrl.btPosition != 'content'" class="animated bt-btn-col bt-btn-action bt-btn-{{$ctrl.btSize}} bt-btn-{{$ctrl.btContext}} bt-btn-{{$ctrl.btPosition}} {{$ctrl.btActiveClasse}} {{$ctrl.btDisabledClasse}}">
    <button ng-href="" ng-click="$ctrl.btAction()"
            class="bt-btn" ng-form="$ctrl.btSubmitForm" type="submit"
            ng-disabled="$ctrl.btDisabled"
    >
        <span class="btn-back-masque"></span>
        <i class="btn-ico {{$ctrl.icoResult}}" ></i>
    </button>



    <div class="btn-label" ng-show="$ctrl.btLabel">
        {{$ctrl.btLabel}}
    </div>
</div>

<!--//CONTENT-->
<div class="btn-container" ng-if="$ctrl.btShow && $ctrl.btPosition == 'content'">
    <div class="bt-btn-col bt-btn-action bt-btn-{{$ctrl.btSize}} bt-btn-{{$ctrl.btContext}} {{$ctrl.btActiveClasse}} {{$ctrl.btDisabledClasse}}">
        <button ng-href="" ng-click="$ctrl.btAction()"
                class="bt-btn"
                ng-disabled="$ctrl.btDisabled"
        >
            <span class="btn-back-masque"></span>
            <i class="btn-ico {{$ctrl.icoResult}}" ></i>
        </button>
    </div>
    <div class="btn-label" ng-show="$ctrl.btLabel">
        {{$ctrl.btLabel}}
    </div>
</div>




