<ion-content delegate-handle="btContentHandle" class="bt-content login">
    <h1 class="txt-part-title u-gutter-bottom-regular" translate="TITLES.LOGIN"></h1>

    <form autocomplete="off" class="u-gutter-bottom-big"
          novalidate name="loginForm" id="loginformId"
          ng-submit="loginCtrl.submitForm(loginForm)">
        <!--//USERNAME-->
        <bt-input-text bt-select-order="1"
                       bt-focus
                       bt-ng-model="loginCtrl.user.username"
                       bt-type="email" bt-name="btEmail"
                       bt-placeholder="'LOGIN.PLACEHOLDERS.USERNAME'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--MDP-->
        <bt-input-text bt-select-order="2"
                       bt-focus
                       bt-ng-model="loginCtrl.user.password"
                       bt-type="password" bt-name="btPassword"
                       bt-placeholder="'LOGIN.PLACEHOLDERS.PSW'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--SUBMIT-->
        <bt-body-btn bt-ico="'fa fa-check'"
                     bt-content="loginCtrl.loginBtn.content"
                     bt-btn-classes="'bt-action__btn--gold'"
                     bt-disabled="loginCtrl.loginBtn.disabled"
                     bt-submit-form="loginformId"
                     bt-type="submit"
        >
        </bt-body-btn>
        <!--TODO conditions generales-->
    </form>

    <!--FB Connect-->
    <!--<bt-body-btn bt-ico="'fab fa-facebook'"-->
                 <!--bt-content="loginCtrl.fbBtn.content"-->
                 <!--bt-disabled="loginCtrl.fbBtn.disabled"-->
                 <!--bt-action="loginCtrl.fbConnect()"-->
                 <!--ng-if="isMobileApp"-->
    <!--&gt;-->
    <!--</bt-body-btn>-->
</ion-content>
