<!--<div class="bt-count-down">-->
    <!-- - {{$ctrl.days}}</div><span> : </span>-->
    <!--{{$ctrl.hours}}</div><span> : </span>-->
    <!--{{$ctrl.minutes}}</div><span> : </span>-->
    <!--{{$ctrl.seconds}}</div>-->
<!--</div>-->

<!--<div class="bt-count-down">-->
    <b class="bt-text-alt-bold">{{$ctrl.days}}</b> <span translate="COUNTDOWN.d"></span>
    {{$ctrl.hours}} <span translate="COUNTDOWN.h"></span>
    {{$ctrl.minutes}} <span translate="COUNTDOWN.m"></span>
    {{$ctrl.seconds}} <span translate="COUNTDOWN.s"></span>
<!--</div>-->