.bt-action {
  width: 33%;
  top: -2rem;
  position: absolute;
  text-align: center;
}
.bt-action.ng-leave {
  animation: bounceOutDown 1200ms;
}
.bt-action.ng-enter {
  animation: bounceInUp 1200ms;
}
.bt-action--big {
  top: -3rem;
}
.bt-action--big .bt-action__btn {
  width: 6rem;
  height: 6rem;
  line-height: 6rem !important;
}
.bt-action--big .bt-action__ico {
  line-height: 6rem !important;
  font-size: 3.4rem;
}
.bt-action--left {
  left: 0;
}
.bt-action--middle {
  left: 33%;
}
.bt-action--right {
  left: 66%;
}
.bt-action__btn {
  z-index: 15!important;
  color: #123a5c;
  border: none;
  background-color: #1c5b8f;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  font-size: 1.6rem!important;
  width: 4rem;
  height: 4rem;
  position: relative;
  transition: all 300ms;
  will-change: transform;
  padding: 0!important;
  min-width: 0!important;
  min-height: 0!important;
  font-weight: normal;
}
.bt-action__btn:before {
  transition: all 300ms;
  z-index: 14;
  content: ' ';
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0.4rem;
  border-radius: 50%;
  position: absolute;
  background-color: #0583d0;
}
.bt-action__btn:active .bt-action__ico,
.bt-action__btn.bt-action__btn--active .bt-action__ico {
  color: #e6e6e6;
  top: 0;
}
.bt-action__btn:active:before,
.bt-action__btn.bt-action__btn--active:before {
  bottom: 0;
}
.bt-action__btn--red {
  background-color: #bc2e33;
}
.bt-action__btn--red:before {
  background-color: #fa393c;
}
.bt-action__btn--red .bt-action__ico {
  color: #892225;
}
.bt-action__ico {
  position: absolute;
  line-height: 4rem !important;
  z-index: 50;
  width: 100%;
  border-radius: 50%;
  left: 0;
  height: 100%;
  opacity: 1;
  top: -0.4rem;
  text-align: center;
  transition: all 300ms;
  will-change: transform;
}
.bt-action__ico.bt-ico-hide {
  transform: rotateY(90deg);
}
.bt-action__label {
  position: relative;
  display: inline-block;
  color: #222222;
  width: 100%;
  vertical-align: top;
  transition: transform 1200ms;
  will-change: transform;
}
