<!--//FOOTER/HEADER-->
<div class="u-center-content">
    <button ng-click="$ctrl.btActionTimed()"
            class="bt-action__btn bt-action__btn--body"
            ng-class="$ctrl.btBtnClasses"
            ng-form="$ctrl.btSubmitForm"
            type="{{$ctrl.btType}}"
            ng-disabled="$ctrl.btDisabled">
        <div class="bt-action__facade">
            <span class="bt-action__content" translate="{{$ctrl.btContent}}"></span>
            <i class="bt-action__ico {{$ctrl.icoResult}}" ></i>
        </div>
    </button>
</div>


