<ion-content delegate-handle="btContentHandle" class="bt-content signin">
    <h1 class="txt-part-title u-gutter-bottom-regular" translate="TITLES.SIGNIN"></h1>

    <form novalidate name="signInForm" id="signFormId" ng-submit="signinCtrl.submitForm(signInForm)">
        <!--EMAIL-->
        <bt-input-text bt-select-order="1"
                       bt-focus
                       bt-ng-model="signinCtrl.newUser.email"
                       bt-type="email" bt-name="btEmail"
                       bt-placeholder="'SIGNIN.PLACEHOLDERS.EMAIL'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--MDP-->
        <bt-input-text bt-select-order="2"
                       bt-focus
                       bt-ng-model="signinCtrl.newUser.plainPassword"
                       bt-type="password" bt-name="btPlainPassword"
                       bt-placeholder="'SIGNIN.PLACEHOLDERS.PSW'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--CONFIRM-->
        <bt-input-text bt-select-order="3"
                       bt-focus
                       bt-ng-model="signinCtrl.newUser.confirmPassword"
                       bt-type="password" bt-name="btConfirmPassword"
                       bt-placeholder="'SIGNIN.PLACEHOLDERS.CONFIRMPSW'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--PSEUDO-->
        <bt-input-text bt-select-order="4"
                       bt-focus
                       bt-ng-model="signinCtrl.newUser.pseudo"
                       bt-type="text" bt-name="btPseudo"
                       bt-placeholder="'SIGNIN.PLACEHOLDERS.PSEUDO'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--SUBMIT-->
        <bt-body-btn bt-ico="'fa fa-check'"
                     bt-type="submit"
                     bt-submit-form="'signInForm'"
                     bt-content="signinCtrl.submitBtn.content"
                     bt-btn-classes="'bt-action__btn--gold'"
                     bt-disabled="signinCtrl.submitBtn.disabled"
        >
        </bt-body-btn>

        <!--TODO conditions generales-->
    </form>
</ion-content>
