.bt-team-radio__col:first-child {
  padding-right: 0.5rem;
}
.bt-team-radio__col:last-child {
  padding-left: 0.5rem;
}
.bt-team-radio__radio {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.bt-team-radio__button--radio {
  font-family: "poppinsbold", sans-serif;
}
.bt-team-radio__button--radio .bt-action__facade {
  padding-right: 1.5rem !important;
}
.bt-team-radio__radio:checked + .bt-team-radio__button--radio {
  color: #e6e6e6;
  background-color: #289172;
}
.bt-team-radio__radio:checked + .bt-team-radio__button--radio .bt-action__facade {
  background-color: #2BB289;
  transform: translate3d(0, 0.4rem, 0);
}
