@import "../../less/constant";

.u-gutter-bottom-regular {
  margin-bottom : @margin-medium!important;
}
.u-gutter-bottom-big {
  margin-bottom : @margin-big!important;
}

.u-center-content {
  text-align: center!important;
  width: 100%!important;
}

.u-clearfix{
  clear: both;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}