.u-gutter-bottom-micro {
  margin-bottom: 0.5rem !important;
}
.u-gutter-bottom-small {
  margin-bottom: 1rem !important;
}
.u-gutter-bottom-regular {
  margin-bottom: 1.5rem !important;
}
.u-gutter-bottom-big {
  margin-bottom: 2rem !important;
}
.u-center-content {
  text-align: center!important;
  width: 100%!important;
}
.u-clearfix {
  clear: both;
}
.u-pull-left {
  float: left;
}
.u-pull-right {
  float: right;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}
.u-inline-block {
  display: inline-block;
}
.u-nowrap {
  white-space: nowrap;
}
.u-text-blue {
  color: #0583d0;
}
.u-text-red {
  color: #fa393c;
}
.u-text-green {
  color: #2BB289;
}
.u-text-uppercase {
  text-transform: uppercase;
}
