@import "../../less/constant";

.bettyLeague-title {
  background-color: @light-blue;
  color: @white;
  font-family: @title-font;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem @margin-medium 0.5rem @margin-medium;
  text-transform: uppercase;
}

.bettyLeague-title-lg {
  background-color: @light-blue;
  color: @white;
  font-family: @title-font;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem @margin-medium 0.5rem @margin-medium;
  text-transform: uppercase;
}

.bettyLeague-title--grey {
  background-color: @medium-grey;
}

.bettyLeague-header {
  padding: @margin-small @margin-medium @margin-micro @margin-medium;
}
