.bettyLeague-title {
  background-color: #0583d0;
  color: #e6e6e6;
  font-family: "quicksandbold", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-transform: uppercase;
}
.bettyLeague-header {
  padding: 1rem 1.5rem 0 1.5rem;
}
