.bt-footer {
  position: fixed;
  bottom: 0;
  height: auto;
  padding: 0;
  background: none;
  display: block;
}
.bt-footer-container {
  height: 70px;
  background-color: #289172;
  border-bottom: 3.7rem solid #2BB289;
}
