@import "../../less/constant";

.bt-footer{
  position: fixed;
  bottom: 0;
  height: auto;
  padding: 0;
  background: none;
  display: block;
}

.bt-footer-container{
  height: @footer-height;
  background-color: @medium-green;
  border-bottom: 3.7rem solid @medium-green
}