@import "../../less/constant";

//RESET
html, body{
  font-size: 10px;
  line-height: 1.4;
}

body {
  background-color: @light-green;
  color: @black;
}


//SCROLL INDICATOR
.scroll-bar-indicator{
  background-color: @white;
}

//CONTENT
.bt-content{
  padding-top: @margin-micro;
  padding-bottom: @margin-micro;
  padding-left: @margin-small;
  padding-right: @margin-small;
  &.signin,&.login{
  }
  &.step {
    //padding-top: 0;
  }
  &.ranking {
    top: 15rem;
  }
}

.col-magic{
  flex: 0 0 20px;
  max-width: 50%;
}

.col-nopadding{
padding: 0;
}

.bt-coin {
  width: 3.5rem;
  vertical-align: middle;
  height: 3.5rem;
}

.bt-coin--small {
  width: 2.5rem;
  height: 2.5rem;
}