html,
body {
  font-size: 10px;
  line-height: 1.4;
}
body {
  background-color: #2BB289;
}
.scroll-bar-indicator {
  background-color: #e6e6e6;
}
.bt-content {
  padding-top: 1.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.bt-content.signin,
.bt-content.login {
  padding-top: 5.5rem;
}
.bt-content.bettyleague {
  padding: 0;
}
