@import "../../less/constant";

//RESET
html, body{
  font-size: 10px;
  line-height: 1.4;
}

body {
  background-color: @light-green;
  color: @black;
}


//SCROLL INDICATOR
.scroll-bar-indicator{
  background-color: @white;
}

//CONTENT
.bt-content{
  padding-top: @margin-medium;
  padding-bottom: @margin-medium + 3rem;
  padding-left: @margin-medium;
  padding-right: @margin-medium;
  &.signin,&.login{
  }
  &.bettyleague {
    padding: 0;
  }
}

.col-magic{
  flex: 0 0 20px;
  max-width: 50%;
}

.col-nopadding{
padding: 0;
}
