.bt-header {
  position: fixed;
  padding: 0;
  height: 70px;
  background-color: #289172;
  border: none;
  top: 0;
}
.bt-header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #289172;
  z-index: 9;
}
.bt-logo {
  position: absolute;
  left: 50%;
  margin-left: -2.7rem;
  top: 0.5rem;
  width: 5.4rem;
  z-index: 10;
}
.bt-logo.ng-enter {
  animation: fadeIn 1200ms;
}
.bt-logo.ng-leave {
  animation: fadeOut 1200ms;
}
