.bt-header {
  position: fixed;
  padding: 0;
  height: 5.5rem;
  background-color: #289172;
  background-image: none;
  border: none;
  top: 0;
  z-index: 100;
}
.bt-logo {
  position: absolute;
  left: 50%;
  margin-left: -3.5rem;
  top: 0.5rem;
  width: 7rem;
  z-index: 10;
}
.bt-logo.ng-enter {
  animation: fadeIn 150ms;
}
.bt-logo.ng-leave {
  animation: fadeOut 150ms;
}
