.main-view {
  top: 70px;
  bottom: 50px;
}
ui-view {
  position: absolute;
  width: 100%;
}
ui-view.goLeft.ng-enter {
  animation: slideInLeft 400ms;
}
ui-view.goLeft.ng-leave {
  animation: slideOutRight 400ms;
}
ui-view.goRight.ng-enter {
  animation: slideInRight 400ms;
}
ui-view.goRight.ng-leave {
  animation: slideOutLeft 400ms;
}
ui-view.goTop.ng-enter {
  animation: slideInDown 400ms;
}
ui-view.goTop.ng-leave {
  animation: slideOutDown 400ms;
}
ui-view.goBottom.ng-enter {
  animation: slideInUp 400ms;
}
ui-view.goBottom.ng-leave {
  animation: slideOutUp 400ms;
}
