.main-view {
  top: 7rem;
  bottom: 5.5rem;
}
.showdown-view {
  top: 7.1rem;
  bottom: 0;
}
.ranking-view {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.list-match-view {
  top: 2.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
ui-view {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
ui-view.goLeft.ng-enter {
  animation: slideInLeft 600ms;
}
ui-view.goLeft.ng-leave {
  animation: slideOutRight 600ms;
}
ui-view.goRight.ng-enter {
  animation: slideInRight 600ms;
}
ui-view.goRight.ng-leave {
  animation: slideOutLeft 600ms;
}
ui-view.goTop.ng-enter {
  animation: slideInDown 600ms;
}
ui-view.goTop.ng-leave {
  animation: slideOutDown 600ms;
}
ui-view.goBottom.ng-enter {
  animation: slideInUp 600ms;
}
ui-view.goBottom.ng-leave {
  animation: slideOutUp 600ms;
}
