@import "../../less/constant";

.showdown-header {
  padding: @margin-small @margin-small 0 @margin-small;
  background-color: @white;
}

.showdown-league {
  padding-top: 0.4rem;
}

.showdown-summary {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.showdown-summary__row {
  display: table-row;
  text-align: center;
}

.showdown-summary__homeTeam {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  width: 38%;
  .showdown-summary__logo {
    right: 0;
  }
  .showdown-summary__teamName {
    padding-right: 4rem;
  }
}

.showdown-summary__awayTeam {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  width: 38%;
  .showdown-summary__logo {
    left: 0;
  }
  .showdown-summary__teamName {
    padding-left: 4rem;
  }
}

.showdown-summary__teamName {
  display: block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.showdown-summary__logo {
  vertical-align: middle;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2rem;
}

.showdown-summary__score {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.showdown-summary__score--left {
  text-align: left;
}

.showdown-summary__suffix {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  height: 4rem;
}

.showdown-summary--tiny {
  .showdown-summary__logo {
    margin-top: -1rem;
  }

  .showdown-summary__awayTeam {
    width: 30%;
    .showdown-summary__teamName {
      padding-left: 2.5rem;
    }
  }
  .showdown-summary__homeTeam {
    width: 30%;
    .showdown-summary__teamName {
      padding-right: 2.5rem;
    }
  }

  .showdown-score {
    padding: 0;
    line-height: 3rem;
  }
}

.showdown-summary--tight {
  .showdown-summary__awayTeam {
    width: 45%;
  }
  .showdown-summary__homeTeam {
    width: 45%;
  }
}

.showdown-score {
  display: block;
  line-height: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  color: @white;
  background-color: @light-blue;
  margin: 0 @margin-micro 0 @margin-micro;

  &.open-parie {
    background: repeating-linear-gradient(
            125deg,
            @light-green,
            @light-green 80%,
            @light-gold 80%,
            @light-gold 100%
    );
  }
  &.open {
    background-color: @light-green;
  }
  &.closed-parie {
    background: repeating-linear-gradient(
            125deg,
            @light-blue,
            @light-blue 80%,
            @light-gold 80%,
            @light-gold 100%
    );  }
  &.closed {
    background-color: @light-blue;
  }
  &.locked-parie {
    background: repeating-linear-gradient(
            125deg,
            @light-red,
            @light-red 80%,
            @light-gold 80%,
            @light-gold 100%
    );
  }
  &.locked {
    background-color: @light-red;
  }
  &.reporte-parie {
    background: repeating-linear-gradient(
            125deg,
            @medium-grey,
            @medium-grey 80%,
            @light-gold 80%,
            @light-gold 100%
    );
  }
  &.report {
    background-color: @medium-grey;
  }
}
.showdown-score--gold {
  background-color: @light-gold;
  color: @black;
}

.event-picto {
  display: inline-block;
}

.event-goal {
  width: 8px;
  height: 6px;
  background-image: url("../../img/goal.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-yellowred {
  width:1.5rem;
  height: 0.8rem;
  position: relative;
  &:before, &:after {
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    height: 0.8rem;
    transform: rotate(15deg);
    width: 0.5rem;
    background-color: @light-gold;
  }
  &:after {
    left: 1rem;
    width: 0.5rem;
    background-color: @light-red;
  }
}

.event-yellowred {
  width:1.5rem;
  height: 0.8rem;
  position: relative;
  &:before, &:after {
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    height: 0.8rem;
    transform: rotate(15deg);
    width: 0.5rem;
    background-color: @light-gold;
  }
  &:after {
    left: 1rem;
    width: 0.5rem;
    background-color: @light-red;
  }
}

.bt-showdown-status {
  line-height: 2.5rem;
}

.bet-form {
  background-color: @white;
  overflow: hidden;
  padding-top: 0.5rem;
}

.bet-form__title {
  text-align: center;
  background-color: @light-blue;
  color: @white;
  font-family: @title-font;
  font-size: 1rem;
  padding: @margin-micro @margin-small @margin-micro @margin-small;
}

.bet-form__summary {
  text-align: center;
  border-bottom: 1px solid @light-blue;
  padding: @margin-micro @margin-micro @margin-micro @margin-micro;
}

.bet-form__content{
  text-align: center;
  padding: @margin-small;
}

.bt-form__team{
  min-height: 4rem;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.bt-bet-summary {
  background-color: @white;
}

.bet-bet-summary__head {
  padding: @margin-micro @margin-small @margin-micro @margin-small;
}

.bt-bet-summary__part {
  padding: @margin-micro @margin-small @margin-micro @margin-small;
}

.bt-bet-summary__score {
  //background-color: @light-gold;
  //color: @black;
  //padding: @margin-micro @margin-small @margin-micro @margin-small;
}