.showdown {
  padding: 1rem 1.5rem 0 1.5rem;
}
.showdown-league {
  padding-top: 0.4rem;
}
.showdown-summary {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.showdown-summary__row {
  display: table-row;
  text-align: center;
}
.showdown-summary__homeTeam {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  width: 38%;
}
.showdown-summary__homeTeam .showdown-summary__logo {
  right: 0;
}
.showdown-summary__homeTeam .showdown-summary__teamName {
  padding-right: 4rem;
}
.showdown-summary__awayTeam {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  width: 38%;
}
.showdown-summary__awayTeam .showdown-summary__logo {
  left: 0;
}
.showdown-summary__awayTeam .showdown-summary__teamName {
  padding-left: 4rem;
}
.showdown-summary__score {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.showdown-score {
  display: block;
  line-height: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  color: #e6e6e6;
  background-color: #0583d0;
  margin: 0 0.5rem 0 0.5rem;
}
.showdown-score--locked {
  background-color: #fa393c;
}
.showdown-score--closed {
  background-color: #2BB289;
}
.showdown-score--reporte {
  background-color: #a1a1a1;
}
.showdown-summary__teamName {
  display: block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}
.showdown-summary__logo {
  vertical-align: middle;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2rem;
}
.logo-team {
  width: 40px;
  height: 40px;
}
.event-picto {
  display: inline-block;
}
.event-goal {
  width: 8px;
  height: 6px;
  background-image: url("../../img/goal.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.event-yellowred {
  width: 1.5rem;
  height: 0.8rem;
  position: relative;
}
.event-yellowred:before,
.event-yellowred:after {
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  height: 0.8rem;
  transform: rotate(15deg);
  width: 0.5rem;
  background-color: #fdcf21;
}
.event-yellowred:after {
  left: 1rem;
  width: 0.5rem;
  background-color: #fa393c;
}
.event-yellowred {
  width: 1.5rem;
  height: 0.8rem;
  position: relative;
}
.event-yellowred:before,
.event-yellowred:after {
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  height: 0.8rem;
  transform: rotate(15deg);
  width: 0.5rem;
  background-color: #fdcf21;
}
.event-yellowred:after {
  left: 1rem;
  width: 0.5rem;
  background-color: #fa393c;
}
.bt-showdown-status {
  line-height: 2.5rem;
}
