.txt-part-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "quicksandbold", sans-serif;
  text-align: center;
}
.bt-text-tiny {
  font-size: 1rem;
  color: #222222;
  font-family: "poppinsregular", sans-serif;
}
.bt-text {
  font-size: 1.2rem;
  color: #222222;
  font-family: "poppinsregular", sans-serif;
}
