@import "../../less/constant";

.txt-part-title{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: @title-font;
  text-align: center;
}

.bt-text-alt {
  font-family: @title-font;
  text-transform: uppercase;
  font-size: 1.2rem;
}
//
//.bt-text-alt-bold {
//  font-family: @title-font-bold;
//  text-transform: uppercase;
//  font-size: 1.2rem;
//}

.bt-text-nano {
  font-size: 0.9rem;
  font-family: @normal-font;
}

.bt-text-tiny-medium {
  font-size: 1rem;
  font-family: @normal-font-medium;
}

.bt-text-tiny {
  font-size: 1rem;
  font-family: @normal-font;
}

.bt-text {
  font-size: 1.2rem;
  font-family: @normal-font;
}

.bt-text-medium {
  font-size: 1.2rem;
  font-family: @normal-font-medium;
}

.bt-text-md {
  font-size: 1.4rem;
  font-family: @normal-font;
}

.bt-text-md-medium {
  font-size: 1.4rem;
  font-family: @normal-font-medium;
}

.bt-text-md-bold {
  font-size: 1.4rem;
  font-family: @normal-font-bold;
}

.bt-text-lg {
  font-size: 1.6rem;
  font-family: @normal-font-medium;
}

.bt-text-lg-bold {
  font-size: 1.6rem;
  font-family: @normal-font-bold;
}



