@import "../../less/constant";

.txt-part-title{
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: @title-font;
  text-align: center;
}

.bt-text-tiny {
  font-size: 1rem;
  color: @black;
  font-family: @normal-font;
}

.bt-text {
  font-size: 1.2rem;
  color: @black;
  font-family: @normal-font;
}

.bt-text-md {
  font-size: 1.4rem;
  color: @black;
  font-family: @normal-font;
}


