.txt-part-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "quicksandbold", sans-serif;
  text-align: center;
}
.bt-text-nano {
  font-size: 0.9rem;
  font-family: "poppinsregular", sans-serif;
}
.bt-text-tiny-medium {
  font-size: 1rem;
  font-family: "poppinsmedium", sans-serif;
}
.bt-text-tiny {
  font-size: 1rem;
  font-family: "poppinsregular", sans-serif;
}
.bt-text {
  font-size: 1.2rem;
  font-family: "poppinsregular", sans-serif;
}
.bt-text-medium {
  font-size: 1.2rem;
  font-family: "poppinsmedium", sans-serif;
}
.bt-text-md {
  font-size: 1.4rem;
  font-family: "poppinsregular", sans-serif;
}
.bt-text-md-medium {
  font-size: 1.4rem;
  font-family: "poppinsmedium", sans-serif;
}
.bt-text-md-bold {
  font-size: 1.4rem;
  font-family: "poppinsbold", sans-serif;
}
.bt-text-lg {
  font-size: 1.6rem;
  font-family: "poppinsmedium", sans-serif;
}
.bt-text-lg-bold {
  font-size: 1.7rem;
  font-family: "poppinsbold", sans-serif;
}
