//GRID
@margin-micro:5px;
@margin-mini:10px;
@margin-medium:15px;
@margin-big:18px;

@padding-big:35px;
@padding-medium:20px;

//TITLES
@title-part-color:@black-ink;
@title-part-weight:600;

//COLORS
@white-paper:#F4F4EF;
@black-ink:#20232a;
@grey-alu:#ACBEBE;
@yellow-sun:#FFBB00;
@green-grass:#258039;
@red-sunset:#FB6542;
@blue-sky:#375E97;


@light-green:#2BB289;

//COMPOSANTS
//BOUTONS
@button-back-color : @green-grass;
@button-color : @white-paper;
@button-border-color : @white-paper;
@button-border-width:2px;
@big-button-scale:1.4;
@huge-button-scale:2;
@indecent-button-scale:3;
@little-button-width:45px;
@little-button-font-width:18px;

//INPUT TEXT
@input-height:45px;
@input-back-color:@green-grass;
@input-color:@white-paper;

@input-active-back-color:@yellow-sun;
@input-active-color:@black-ink;

@input-error-back-color:@red-sunset;
@input-error-color:@black-ink;

//HEADER
@header-height:55px;
@header-color:@white-paper;
@buttons-header-offset:20%;

//CONTENT
@content-color:@light-green;


//FOOTER
@footer-height:55px;
@footer-color:@white-paper;
@buttons-footer-offset:20%;

//ANIMATIONS
@bouncing-time:1200ms;
@swipe-time:800ms;
@fast-fade-time:150ms;