//COLORS
@lighter-green: #34d4a3;
@light-green:#2BB289;
@medium-green:#289172;
@hard-green: #267450;

@light-blue:#0583d0;
@medium-blue:#1c5b8f;
@hard-blue:#123a5c;

@azur-blue:#59a4d0;

@light-gold:#fdcf21;
@medium-gold:#b6850f;
@hard-gold:#83600b;

@light-red:#fa393c;
@medium-red:#bc2e33;
@hard-red:#892225;

@light-grey:#c2c2c2;
@medium-grey:#a1a1a1;

@white:#e6e6e6;
@black:#222222;

//FONTS
@title-font: "quicksandbold", sans-serif;

@normal-font: "poppinsregular", sans-serif;
@normal-font-medium: "poppinsmedium", sans-serif;
@normal-font-bold: "poppinsbold", sans-serif;

//MARGIN
@margin-micro:0.5rem;
@margin-small:1rem;
@margin-medium:1.5rem;
@margin-big:2rem;




//HEADER
@header-height:7rem;
@bettyleague-header-height: 7.1rem;
@showdown-header-height:50px;
@header-color:@medium-green;
@buttons-header-offset:20%;

//CONTENT
@content-color:@light-green;

//FOOTER
@footer-height: 5.5rem;
@footer-color: @medium-green;
@buttons-footer-offset: 20%;

//ANIMATIONS
@bouncing-time: 150ms;
@swipe-time: 600ms;
@fast-fade-time: 150ms;
@btn-press-time: 75ms;
@modal-entrance-time: 400ms;