<!--//FOOTER/HEADER-->
<div ng-if="$ctrl.btShow"
     class="animated bt-action bt-action--{{$ctrl.btPosition}}"
     ng-class="$ctrl.btClasses"
    >
    <button ng-click="$ctrl.btActionTimed()"
            class="bt-action__btn"
            ng-class="$ctrl.btButtonClasses"
            ng-form="$ctrl.btSubmitForm"
            type="button"
            ng-disabled="$ctrl.btDisabled">
        <div class="bt-action__facade">
            <i ng-if="!$ctrl.btLabel" class="bt-action__ico" ng-class="$ctrl.icoResult"></i>
            <span class="bt-action__elipsed-content bt-text-tiny-medium u-text-uppercase" ng-if="$ctrl.btLabel">
                {{$ctrl.btLabel}}
            </span>
        </div>

    </button>

</div>
