.bt-action {
  width: 33.333%;
  top: 1rem;
  position: absolute;
  text-align: center;
  padding: 0 1rem 0 1rem;
}
.bt-action.ng-leave {
  animation: slideOutDown 150ms;
}
.bt-action.ng-enter {
  animation: slideInUp 150ms;
}
.bt-action__elipsed-content {
  line-height: 4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
}
.bt-action--big {
  top: 1rem;
}
.bt-action--big .bt-action__btn {
  width: 100%;
  height: 5rem;
  line-height: 5rem !important;
}
.bt-action--big .bt-action__ico {
  line-height: 5rem !important;
  font-size: 3.4rem;
}
.bt-action--big .bt-action__ico {
  line-height: 5rem !important;
  font-size: 3.4rem;
}
.bt-action--big .bt-action__ico.fa,
.bt-action--big .bt-action__ico.fas {
  font-size: 2.5rem;
}
.bt-action--left {
  left: 0;
}
.bt-action--middle {
  left: 33.333%;
}
.bt-action--right {
  left: 66.666%;
}
.bt-action__btn {
  z-index: 15!important;
  color: #123a5c;
  border: none;
  background-color: #1c5b8f;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  font-size: 1.6rem!important;
  width: 100%;
  height: 4rem;
  position: relative;
  will-change: color;
  padding: 0!important;
  min-width: 0!important;
  min-height: 0!important;
  font-weight: normal;
}
.bt-action__btn .bt-action__facade {
  pointer-events: none;
  z-index: 14;
  content: ' ';
  width: 100% ;
  height: 100%;
  right: 0;
  bottom: 0.4rem;
  border-radius: 0;
  position: absolute;
  background-color: #0583d0;
  will-change: transform;
  transition: transform 75ms;
}
.bt-action__btn .bt-action__facade .bt-coin {
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -1.75rem;
}
.bt-action__btn:active:not(.bt-action__facade--no-press),
.bt-action__btn.bt-action__btn--active {
  color: #e6e6e6;
}
.bt-action__btn:active:not(.bt-action__facade--no-press) .bt-action__facade,
.bt-action__btn.bt-action__btn--active .bt-action__facade {
  transform: translate3d(0, 0.4rem, 0);
}
.bt-action__btn--gold {
  background-color: #b6850f;
  color: #83600b;
}
.bt-action__btn--gold .bt-action__facade {
  background-color: #fdcf21;
}
.bt-action__btn--red {
  background-color: #bc2e33;
  color: #892225;
}
.bt-action__btn--red .bt-action__facade {
  background-color: #fa393c;
}
.bt-action__btn--green {
  background-color: #289172;
  color: #267450;
}
.bt-action__btn--green .bt-action__facade {
  background-color: #2BB289;
}
.bt-action__label {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #222222;
  width: 100%;
  top: -2px;
  vertical-align: top;
  line-height: 0.9rem;
  transition: transform 150ms;
  will-change: transform;
}
.bt-action__ico {
  position: relative;
  line-height: 4rem !important;
  z-index: 14;
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  left: 0;
  height: 100%;
  opacity: 1;
  top: 0;
  text-align: center;
  transition: transform 75ms;
  will-change: transform;
}
.bt-action__ico.bt-ico-hide {
  transform: rotateY(90deg);
}
.bt-action__btn--body {
  width: 100%;
  border-radius: 0.5rem;
  margin: 0;
  max-width: 30rem;
  text-align: left;
  font-size: 1.3rem!important;
  height: auto;
  font-family: "poppinsmedium", sans-serif;
}
.bt-action__btn--body .bt-action__facade {
  border-radius: 0.5rem;
  padding-top: 1.6rem!important;
  padding-right: 4.5rem !important;
  padding-bottom: 1.6rem!important;
  padding-left: 1.5rem !important;
  position: relative;
}
.bt-action__btn--body .bt-action__ico {
  position: absolute;
  line-height: 5rem!important;
  z-index: 14;
  width: auto;
  right: 1.5rem;
  left: auto;
  height: 100%;
  font-size: 1.8rem!important;
}
.bt-action__btn--body-small {
  min-height: 4rem !important;
  font-size: 1.4rem!important;
  width: auto;
}
.bt-action__btn--body-small .bt-action__facade {
  padding: 1.2rem 5rem 0.9rem 1.3rem!important;
}
.bt-action__btn--body-small .bt-action__ico {
  right: 1rem;
  line-height: 4rem !important;
}
.bt-action__btn--body-small .bt-action__ico.icon-bty-ico-coin {
  font-size: 3.5rem!important;
}
.bt-action__btn--body-full {
  width: 100%;
  max-width: none;
}
.bt-action__btn--body-square {
  width: 4rem;
  text-align: center;
}
.bt-action__btn--body-square .bt-action__facade {
  width: 100%;
  padding: 0rem!important;
  height: 4rem;
}
.bt-action__btn--body-square .bt-action__ico {
  font-size: 2rem!important;
  line-height: 4rem !important;
  right: 0rem;
  width: 100%;
}
.bt-action__content {
  top: 0;
  position: relative;
  z-index: 14;
  line-height: 1.1rem!important;
}
