<!--//FOOTER/HEADER-->
<div ng-if="$ctrl.btShow"
     class="animated bt-action bt-action--{{$ctrl.btPosition}}"
     ng-class="$ctrl.btClasses"
    >
    <button ng-mouseup="$ctrl.btActionTimed()"
            class="bt-action__btn"
            ng-class="$ctrl.btButtonClasses"
            ng-form="$ctrl.btSubmitForm"
            type="button"
            ng-disabled="$ctrl.btDisabled">
        <div class="bt-action__facade">
            <i class="bt-action__ico" ng-class="$ctrl.icoResult"></i>
        </div>
    </button>

    <div class="bt-action__label bt-text-nano" ng-show="$ctrl.btLabel">
        {{$ctrl.btLabel}}
    </div>
</div>
