<div class="bettyLeague-title" translate="COMMUNITY.TITLE"></div>

<div class="ranking-view">
    <div class="ranking-dashboard">
        <table class="ranking-dashboard bt-modal__table bt-modal__table--list">
            <tr class="bt-text-md">
                <td ng-click="" class="ranking-dashboard__tab"
                    ng-class="{'active': true}">
                    <span translate="COMMUNITY.TITLE_LEAGUES"></span>
                </td>
            </tr>
            <tr>
                <td class="bt-text-md-medium ranking-dashboard__description active">
                    <span class="u-pull-left" ng-if="privateLeaguesCtrl.canIPrev(privateLeaguesCtrl.ranking)">
                         <bt-body-btn bt-ico="'fas fa-caret-left'"
                                      bt-content=" "
                                      bt-btn-classes="'bt-action__btn--body-square bt-action__btn--body-small u-pull-left bt-action__btn--blue'"
                                      bt-disabled=""
                                      bt-submit-form=""
                                      bt-action="privateLeaguesCtrl.previousPeriod(privateLeaguesCtrl.ranking)"
                         >
                         </bt-body-btn>
                    </span>

                    <span ng-if="privateLeaguesCtrl.ranking.seasonNb">
                        <span translate="RANKING.full_season"></span>
                        {{privateLeaguesCtrl.ranking.seasonNb}}
                    </span>
                    <span ng-if="privateLeaguesCtrl.ranking.halfSeasonNb">
                        <span translate="RANKING.half_season"></span>
                        {{privateLeaguesCtrl.ranking.halfSeasonNb}}
                    </span>
                    <span ng-if="privateLeaguesCtrl.ranking.fourRoundsNb">
                        <span translate="RANKING.for_rounds"></span>
                        {{privateLeaguesCtrl.ranking.fourRoundsNb}}
                    </span>
                    <span ng-if="privateLeaguesCtrl.ranking.roundNb">
                        <span translate="RANKING.round"></span>
                        {{privateLeaguesCtrl.ranking.roundNb}}
                    </span>

                     <span class="u-pull-right" ng-if="privateLeaguesCtrl.canIPrev(privateLeaguesCtrl.ranking, true)">
                         <bt-body-btn bt-ico="'fas fa-caret-right'"
                                      bt-content=" "
                                      bt-btn-classes="'bt-action__btn--body-square bt-action__btn--body-small u-pull-left bt-action__btn--blue'"
                                      bt-disabled=""
                                      bt-submit-form=""
                                      bt-action="privateLeaguesCtrl.previousPeriod(privateLeaguesCtrl.ranking, true)"
                         >
                         </bt-body-btn>
                    </span>
                </td>
            </tr>
        </table>

    </div>

    <ion-content delegate-handle="btContentHandle" class="bt-content privateleagues">
        <table class="bt-modal__table bt-modal__table--list bt-text u-gutter-bottom-small">
            <!--<tr id="{{::rank.id}}" ng-class="{'active': privateLeaguesCtrl.user.id == rank.id}">-->
                <!--<td>-->
                    <!--{{rank.rank}}-->
                <!--</td>-->
                <!--<td>-->
                    <!--{{rank.pseudo}}-->
                <!--</td>-->
                <!--<td>-->
                    <!--{{rank.score | number : 2}}-->
                <!--</td>-->
            <!--</tr>-->
            <tr id="" ng-class="">
                <td>
                    <div class="u-padding-micro">
                        <div class="u-gutter-bottom-regular bt-text" translate="COMMUNITY.WORLD_CUP_SPEECH">

                        </div>
                        <div class="u-gutter-bottom-regular">
                            <bt-body-btn bt-ico="'fas fa-plus-circle'"
                                         bt-content="'COMMUNITY.NEW_WORLD_CUP'"
                                         bt-btn-classes="'bt-action__btn--gold'"
                                         bt-type="submit"
                                         bt-action="privateLeaguesCtrl.newLeague()"
                            >
                            </bt-body-btn>
                        </div>
                        <div class="u-gutter-bottom-regular">
                            <bt-body-btn bt-ico="'fas fa-sign-in-alt'"
                                         bt-content="'COMMUNITY.JOIN_LEAGUE'"
                                         bt-btn-classes="'bt-action__btn--green'"
                                         bt-type="submit"
                            >
                            </bt-body-btn>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
    </ion-content>
</div>