<ion-content delegate-handle="btContentHandle" class="bt-content login">
    <h1 class="txt-part-title u-gutter-bottom-regular" translate="TITLES.LOGIN"></h1>

    <form autocomplete="off" novalidate name="loginForm" id="loginformId" ng-submit="submitForm(loginForm)">
        <!--//USERNAME-->
        <bt-input-text bt-select-order="1"
                       bt-focus
                       bt-ng-model="user.email"
                       bt-type="text" bt-name="btEmail"
                       bt-placeholder="'LOGIN.PLACEHOLDERS.USERNAME'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--MDP-->
        <bt-input-text bt-select-order="2"
                       bt-focus
                       bt-ng-model="user.password"
                       bt-type="password" bt-name="btPassword"
                       bt-placeholder="'LOGIN.PLACEHOLDERS.PSW'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--SUBMIT-->
        <bt-body-btn ico="'fa fa-check'"
                       bt-content="loginBtn.content"
                       bt-context="loginBtn.context"
                       bt-action="loginBtn.action()"
                       bt-active="loginBtn.focus"
                       bt-disabled="loginBtn.disabled"
                       bt-submit-form="user"
        >
        </bt-body-btn>

        <!--TODO conditions generales-->
    </form>
</ion-content>
