<ion-content delegate-handle="btContentHandle" class="bt-content account">
  <h1 class="txt-part-title u-gutter-bottom-regular" translate="ACCOUNT.CHANGEPASSWORD"></h1>

  <form ng-submit="changePasswordCtrl.submitForm(signInForm)" novalidate name="signInForm" id="signFormId">

    <!--MDP-->
    <bt-input-text bt-select-order="2"
                   bt-focus
                   bt-ng-model="changePasswordCtrl.newUser.plainPassword"
                   bt-type="password" bt-name="btPlainPassword"
                   bt-placeholder="'SIGNIN.PLACEHOLDERS.PSW'"
                   bt-required="true"
                   class="bt-input-text-component {{activeinputs}}"
    ></bt-input-text>

    <!--CONFIRM-->
    <bt-input-text bt-select-order="3"
                   bt-focus
                   bt-ng-model="changePasswordCtrl.newUser.confirmPassword"
                   bt-type="password" bt-name="btConfirmPassword"
                   bt-placeholder="'SIGNIN.PLACEHOLDERS.CONFIRMPSW'"
                   bt-required="true"
                   class="bt-input-text-component {{activeinputs}}"
    ></bt-input-text>

    <!--SUBMIT-->
    <bt-body-btn bt-ico="'fa fa-check'"
                 bt-type="submit"
                 bt-submit-form="'signInForm'"
                 bt-content="'SIGNIN.PLACEHOLDERS.CHANGEPASSWORD'"
                 bt-btn-classes="'bt-action__btn--gold'"
                 bt-disabled="signinCtrl.submitBtn.disabled"
                 bt-action="changePasswordCtrl.submitForm(signInForm)"
    >
    </bt-body-btn>
  </form>
</ion-content>
