<div class="fixture-block">
    <div class="bt-text-md u-gutter-bottom-micro">
        {{showdownCtrl.showdown.smFixture.sm__time__startingAt__dateTime| date : 'longDate'}}
    </div>

    <!--//aggregates-->
    <div ng-if="showdownCtrl.showdown.smFixture.matchRetour" class="row row-center col-nopadding u-gutter-bottom-micro">
        <div class="col-nopadding col u-text-right bt-text-nano"><span translate="SHOWDOWN.AGGREGATE_SCORE"></span>&nbsp;</div>
        <div class="col-nopadding col col-10 col-magic u-nowrap u-text-center bt-text-tiny-medium">
            (
            {{showdownCtrl.showdown.smFixture.aggregateVisitorteamScore + showdownCtrl.showdown.smFixture.sm__scores__localteamScore}}
            -
            {{showdownCtrl.showdown.smFixture.aggregateLocalteamScore + showdownCtrl.showdown.smFixture.sm__scores__visitorteamScore}}
            )
        </div>
        <div class="col-nopadding col u-text-left"></div>
    </div>

    <!--scores-->
    <div class="showdown-summary">
        <div class="showdown-summary__row">
            <div class="showdown-summary__homeTeam">
                <span class="showdown-summary__teamName bt-text">
                    {{showdownCtrl.showdown.smFixture.homeTeam.sm__name}}
                </span>
                <span class="showdown-summary__logo">
                    <bt-logo-team bt-team="showdownCtrl.showdown.smFixture.homeTeam"></bt-logo-team>
                </span>
            </div>
            <div class="showdown-summary__score">
                <!--OPEN-->
                <span ng-if="stepCtrl.sdStatus() === 'OPEN'" class="bt-text-lg showdown-score showdown-score--open">
                    {{showdownCtrl.showdown.smFixture.sm__time__startingAt__dateTime| date : 'shortTime'}}
                </span>
                <!--LOCKED-->
                <span ng-if="stepCtrl.sdStatus() === 'LOCKED'" class="bt-text-lg showdown-score showdown-score--locked">
                    {{showdownCtrl.showdown.smFixture.sm__scores__localteamScore}} - {{showdownCtrl.showdown.smFixture.sm__scores__visitorteamScore}}
                </span>
                <!--CLOSED-->
                <span ng-if="stepCtrl.sdStatus() === 'CLOSED'" class="bt-text-lg showdown-score showdown-score--closed">
                    {{showdownCtrl.showdown.smFixture.sm__scores__localteamScore}} - {{showdownCtrl.showdown.smFixture.sm__scores__visitorteamScore}}
                </span>
                <!--REPORTE-->
                <span ng-if="stepCtrl.sdStatus() === 'REPORTE'" class="bt-text-lg showdown-score showdown-score--reporte">
                    {{showdownCtrl.showdown.smFixture.sm__scores__localteamScore}} - {{showdownCtrl.showdown.smFixture.sm__scores__visitorteamScore}}
                </span>
            </div>
            <div class="showdown-summary__awayTeam">
                <span class="showdown-summary__logo">
                    <bt-logo-team bt-team="showdownCtrl.showdown.smFixture.awayTeam"></bt-logo-team>
                </span>
                <span class="showdown-summary__teamName bt-text">
                    {{showdownCtrl.showdown.smFixture.awayTeam.sm__name}}
                </span>
            </div>
        </div>
    </div>

    <!--//events - tirs aux buts-->
    <div ng-if="showdownCtrl.showdown.smFixture.smEvents.length > 0">
        <div class="u-gutter-bottom-micro"></div>
        <div class="row row-top col-nopadding">
            <div class="col-nopadding col u-text-right bt-text-nano">
                <div ng-repeat="event in showdownCtrl.showdown.smFixture.smEvents track by $index" ng-if="stepCtrl.isShownEvent(event.sm__type) && event.teamType == 'home'">
                    <span class="event-picto event-{{::event.sm__type}}"></span> <span>{{::event.sm__playerName}}</span> <span>{{::event.sm__minute}}'</span>
                </div>
            </div>
            <div class="col-nopadding col col-10 col-magic u-nowrap u-text-center bt-text-nano">

            </div>
            <div class="col-nopadding col u-text-left  bt-text-nano">
                <div ng-repeat="event in showdownCtrl.showdown.smFixture.smEvents track by $index" ng-if="stepCtrl.isShownEvent(event.sm__type) && event.teamType == 'away'">
                    <span>{{::event.sm__minute}}'</span> <span>{{::event.sm__playerName}}</span> <span class="event-picto event-{{::event.sm__type}}"></span>
                </div>
            </div>
        </div>
    </div>

    <!--status et timer-->
    <div class="u-gutter-bottom-small"></div>

    <!--open-->
    <div class="row" ng-if="stepCtrl.sdStatus() === 'OPEN'">
        <div class="col u-text-left">
            <span class="bt-showdown-status bt-text-md-medium u-text-blue u-text-uppercase" translate="SHOWDOWN.OPEN_BET"></span>
        </div>
        <div class="col u-text-right">
            <bt-count-down bt-start-date="showdownCtrl.showdown.smFixture.sm__time__startingAt__dateTime"></bt-count-down>
        </div>
    </div>

    <!--LOCKED-->
    <div class="row" ng-if="stepCtrl.sdStatus() === 'CLOSED'">
        <div class="col u-text-center">
            <span class="bt-showdown-status bt-text-md-medium u-text-green u-text-uppercase" translate="SHOWDOWN.CLOSED"></span>
        </div>
    </div>

    <!--CLOSED-->
    <div class="row" ng-if="stepCtrl.sdStatus() === 'LOCKED'">
        <div class="col u-text-center">
            <span class="bt-showdown-status bt-text-md-medium u-text-red u-text-uppercase" translate="SHOWDOWN.LIVE"></span>
        </div>
    </div>

    <!--reporte-->
    <div class="row" ng-if="stepCtrl.sdStatus() === 'REPORTE'">
        <div class="col u-text-center">
            <span class="bt-showdown-status bt-text-md-medium u-text-uppercase" translate="SHOWDOWN.REPORTE"></span>
        </div>
    </div>
</div>

