html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  background-color: #2BB289;
}
.ion-person:before {
  content: "" !important;
}
.txt-tiny {
  font-size: 0.8rem;
  font-family: "open_sans", sans-serif;
}
.txt-medium {
  font-size: 1rem;
  font-family: "open_sans", sans-serif;
}
.txt-big {
  font-size: 1.2rem;
  font-family: "open_sans", sans-serif;
}
.txt-huge {
  font-size: 1.4rem;
  font-family: "open_sans", sans-serif;
}
.radial-back-normal {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #258039 0%, #0e3116 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #258039 0%, #0e3116 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #258039 0%, #0e3116 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-other {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #375E97 0%, #1c2f4c 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #375E97 0%, #1c2f4c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #375E97 0%, #1c2f4c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-alert {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #FB6542 0%, #d32b04 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #FB6542 0%, #d32b04 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #FB6542 0%, #d32b04 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #FFBB00 0%, #997000 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #FFBB00 0%, #997000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #FFBB00 0%, #997000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-normal-inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #0e3116 0%, #258039 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #0e3116 0%, #258039 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #0e3116 0%, #258039 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-other-inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #1c2f4c 0%, #375E97 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #1c2f4c 0%, #375E97 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #1c2f4c 0%, #375E97 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-alert-inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #d32b04 0%, #FB6542 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #d32b04 0%, #FB6542 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #d32b04 0%, #FB6542 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.radial-back-active-inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #997000 0%, #FFBB00 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #997000 0%, #FFBB00 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #997000 0%, #FFBB00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.shadow-z-3 {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.blop {
  background-color: orange;
  height: 1500px;
}
.bt-loading-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 50px;
  opacity: 1;
  transition: opacity 150ms;
}
.bt-loading-container.ng-hide {
  opacity: 0;
  display: block;
  bottom: auto;
  height: 0;
}
.bt-loading-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: #20232a;
  opacity: 0.5;
}
.bt-loading {
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt-loading .spinner svg {
  width: 50px;
  height: 50px;
  stroke: #FFBB00 !important;
  fill: #FFBB00 !important;
}
.bt-loading-container.nocon .bt-loading {
  color: #FB6542;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2rem;
  font-family: "open_sans", sans-serif;
}
.bt-loading-container.nocon .bt-loading .ico {
  text-align: center;
  font-size: 50px;
  width: 100%;
  display: block;
}
.bt-loading-container.nocon .bt-loading .txt {
  text-align: center;
  width: 100%;
  display: block;
}
.bt-btn-col {
  width: 33%;
  top: -22.5px;
  position: absolute;
  text-align: center;
}
.bt-btn-col.bt-btn-left {
  left: 0;
}
.bt-btn-col.bt-btn-middle {
  left: 33%;
}
.bt-btn-col.bt-btn-right {
  left: 66%;
}
.bt-btn-col .btn-label {
  position: relative;
  display: inline-block;
  font-size: 0.8rem;
  font-family: "open_sans", sans-serif;
  color: #20232a;
  width: 100%;
  vertical-align: top;
  line-height: 1.1em;
  transition: transform 1200ms;
  will-change: transform;
}
.bt-btn-col .bt-btn {
  z-index: 15;
  overflow: hidden;
  color: #F4F4EF;
  border: 2px solid #F4F4EF;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  font-size: 18px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: relative;
  transition: transform 1200ms;
  will-change: transform;
}
.bt-btn-col .bt-btn .btn-ico {
  position: absolute;
  z-index: 50;
  width: 100%;
  left: 0;
  height: 100%;
  opacity: 1;
  top: 0;
  text-align: center;
  transition: transform 300ms;
  will-change: transform;
}
.bt-btn-col .bt-btn .btn-ico.bt-ico-hide {
  transform: rotateY(90deg);
}
.bt-btn-col .bt-btn .btn-back-masque {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}
.bt-btn-col .bt-btn:active .btn-back-masque {
  opacity: 0;
}
.bt-btn-col .bt-btn:disabled {
  background: #ACBEBE !important;
}
.bt-btn-col .bt-btn:disabled .btn-back-masque {
  background-color: #ACBEBE !important;
}
.bt-btn-col.bt-btn-normal .bt-btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #258039 0%, #0e3116 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #258039 0%, #0e3116 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #258039 0%, #0e3116 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.bt-btn-col.bt-btn-normal .bt-btn .btn-back-masque {
  background-color: #258039;
}
.bt-btn-col.bt-btn-other .bt-btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #375E97 0%, #1c2f4c 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #375E97 0%, #1c2f4c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #375E97 0%, #1c2f4c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.bt-btn-col.bt-btn-other .bt-btn .btn-back-masque {
  background-color: #375E97;
}
.bt-btn-col.bt-btn-alert .bt-btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#030803+0,258039+100 */
  background: -moz-radial-gradient(center, ellipse cover, #FB6542 0%, #d32b04 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #FB6542 0%, #d32b04 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #FB6542 0%, #d32b04 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grad-out', endColorstr='@grad-in', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.bt-btn-col.bt-btn-alert .bt-btn .btn-back-masque {
  background-color: #FB6542;
}
.bt-btn-col.bt-btn-medium .bt-btn {
  transform: scale(1.4);
}
.bt-btn-col.bt-btn-medium .btn-label {
  transform: translate(0, 9px);
}
.bt-btn-col.bt-btn-huge .bt-btn {
  transform: scale(2);
}
.bt-btn-col.bt-btn-huge .btn-label {
  transform: translate(0, 22.5px);
}
.bt-btn-col.bt-btn-indecent .bt-btn {
  transform: scale(3);
}
.bt-btn-col.bt-btn-indecent .btn-label {
  transform: translate(0, 45px);
}
.bt-btn-col.ng-leave {
  animation: bounceOutDown 1200ms;
}
.bt-btn-col.ng-enter {
  animation: bounceInUp 1200ms;
}
.btn-container {
  margin-bottom: 18px;
}
.btn-container .bt-btn-col {
  width: auto;
  position: relative;
  top: 0;
  margin-bottom: 5px;
}
.btn-container .bt-btn-col + .btn-label {
  transform: none;
  text-align: center;
}
.btn-container .bt-btn-col.bt-btn-medium {
  height: 63px;
}
.btn-container .bt-btn-col.bt-btn-medium .bt-btn {
  transform-origin: top;
}
.btn-container .bt-btn-col.bt-btn-huge {
  height: 90px;
}
.btn-container .bt-btn-col.bt-btn-huge .bt-btn {
  transform-origin: top;
}
.btn-container .bt-btn-col.bt-btn-huge + .btn-label {
  font-size: 1rem;
  font-family: "open_sans", sans-serif;
}
.btn-container .bt-btn-col.bt-btn-indecent {
  height: 135px;
}
.btn-container .bt-btn-col.bt-btn-indecent .bt-btn {
  transform-origin: top;
}
.btn-container .bt-btn-col.bt-btn-indecent + .btn-label {
  font-size: 1.4rem;
  font-family: "open_sans", sans-serif;
}
.bt-header .bt-btn-col {
  top: -70px;
  z-index: 10;
}
.bt-header .bt-btn-col .bt-btn {
  height: 135px;
  padding-top: 70px;
  border-radius: 22.5px;
  border-top-right-radius: 0;
  line-height: 65px;
  border-top-left-radius: 0;
}
.bt-header .bt-btn-col .bt-btn .btn-ico {
  top: auto;
  height: auto;
  bottom: 0;
}
.bt-header .bt-btn-col.ng-leave {
  animation: bounceOutUp 1200ms;
}
.bt-header .bt-btn-col.ng-enter {
  animation: bounceInDown 1200ms;
}
.bt-part-title {
  font-size: 1.2rem;
  font-family: "open_sans", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #20232a;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
  margin-bottom: 18px;
}
.bt-input-text-component.btUsername input[name=btUsername] {
  background-color: #FB6542;
}
.bt-input-text-component.btEmail input[name=btEmail] {
  background-color: #FB6542;
}
.bt-input-text-component.btPlainPassword input[name=btPlainPassword] {
  background-color: #FB6542;
}
.bt-input-text-component.btConfirmPassword input[name=btConfirmPassword] {
  background-color: #FB6542;
}
.bt-input-text-component.btPassword input[name=btPassword] {
  background-color: #FB6542;
}
.bt-input-text-container {
  position: relative;
  margin-bottom: 1.5rem;
}
.bt-input-text-container .bt-input-text {
  font-size: 1rem;
  font-family: "open_sans", sans-serif;
  width: 100%;
  padding-left: 20px;
  height: 45px;
  background-color: #258039;
  transition: background-color 150ms ease-in-out;
  color: #F4F4EF;
}
.bt-input-text-container .bt-input-text:focus,
.bt-input-text-container .bt-input-text:active {
  background-color: #FFBB00;
  color: #F4F4EF;
  color: #20232a;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #F4F4EF !important;
  opacity: 0.8;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #F4F4EF !important;
  opacity: 0.8;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #F4F4EF !important;
  opacity: 0.8;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F4F4EF !important;
  opacity: 0.8;
}
.scroll-bar-indicator {
  background-color: #F4F4EF;
}
.bt-header {
  position: fixed;
  height: 70px;
  background-color: #289172;
  border: none;
  top: 0;
}
.bt-header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #289172;
  z-index: 9;
}
.bt-logo {
  position: absolute;
  left: 50%;
  margin-left: -3.6rem;
  bottom: 0;
  margin-bottom: -4rem;
  width: 7.2rem;
  z-index: 10;
}
.bt-logo.ng-enter {
  animation: fadeIn 1200ms;
}
.bt-logo.ng-leave {
  animation: fadeOut 1200ms;
}
ui-view {
  top: 70px;
  bottom: 50px;
  width: 100%;
  position: absolute;
}
ui-view.goLeft.ng-enter {
  animation: slideInLeft 800ms;
}
ui-view.goLeft.ng-leave {
  animation: slideOutRight 800ms;
}
ui-view.goRight.ng-enter {
  animation: slideInRight 800ms;
}
ui-view.goRight.ng-leave {
  animation: slideOutLeft 800ms;
}
ui-view.goTop.ng-enter {
  animation: slideInDown 800ms;
}
ui-view.goTop.ng-leave {
  animation: slideOutDown 800ms;
}
ui-view.goBottom.ng-enter {
  animation: slideInUp 800ms;
}
ui-view.goBottom.ng-leave {
  animation: slideOutUp 800ms;
}
.bt-content {
  padding-top: 1.5rem;
}
.bt-content.signin,
.bt-content.login {
  padding-top: 5.5rem;
  padding-left: 35px;
  padding-right: 35px;
}
.bt-content.flexinoscroll {
  padding-top: 0;
}
.bt-content.flexinoscroll .scroll {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bt-footer {
  position: fixed;
  bottom: 0;
  height: auto;
  padding: 0;
  background-color: #289172;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  display: block;
}
.bt-footer-container {
  height: 50px;
}
.bt-alert-messages {
  border-top: 1px solid #ACBEBE;
  text-align: center;
  max-height: 0px;
  transition: max-height 800ms ease-in-out;
}
.bt-alert-messages.expanded-add {
  max-height: 0px;
}
.bt-alert-messages.expanded {
  max-height: 500px;
}
.bt-alert-messages .bt-message {
  font-size: 0.8rem;
  font-family: "open_sans", sans-serif;
  color: #20232a;
}
.bt-alert-messages .bt-message.alert {
  color: #FB6542;
}
.bt-alert-messages .bt-message.success {
  color: #258039;
}
.bt-ng-message-list {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.bt-ng-message {
  background-color: #FB6542;
  color: #F4F4EF;
  height: 100%;
  line-height: 45px;
  text-align: center;
}
.bt-ng-message:not(:first-child) {
  display: none;
}
