<ion-content delegate-handle="btContentHandle" class="bt-content login">
    <bt-title-part content="'TITLES.LOGIN'"></bt-title-part>

    <form novalidate name="loginForm" id="loginformId" ng-submit="submitForm(loginForm)">
        <!--//USERNAME-->
        <bt-input-text bt-select-order="1"
                       bt-focus
                       bt-ng-model="user.email"
                       bt-type="text" bt-name="btEmail"
                       bt-placeholder="'LOGIN.PLACEHOLDERS.USERNAME'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>

        <!--MDP-->
        <bt-input-text bt-select-order="2"
                       bt-focus
                       bt-ng-model="user.password"
                       bt-type="password" bt-name="btPassword"
                       bt-placeholder="'LOGIN.PLACEHOLDERS.PSW'"
                       bt-required="true"
                       class="bt-input-text-component {{activeinputs}}"
        ></bt-input-text>


        <!--TODO conditions generales-->
    </form>
</ion-content>
